PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://codemania:codemania@localhost:5432/codemania
REDIS_URL=redis://localhost:6379

GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json
PISTON_URL=http://localhost:2000/api/v2/execute

# Use http://localhost:3000 when serving Flutter release from Express.
# Use http://localhost:5000 when running Flutter hot reload mode.
CLIENT_URL=http://localhost:3000
CLIENT_URL_PROD=https://yourdomain.com

SOCKET_CORS_ORIGIN=http://localhost:3000

PISTON_RUN_TIMEOUT=3000
PISTON_COMPILE_TIMEOUT=10000
PISTON_MEMORY_LIMIT=128000
